.mainContainer {
  padding: 15px 30px;
  padding-top: 45px;
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #385198;
  height: 3px;
  width: 100%;
}

.articleList {
  margin-top: 55px;
  flex-direction: row;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  background-image: radial-gradient(circle at 50% 50%, #9db7ff9f 0%, #fff 60%);
  justify-content: center;
  width: 100%;
}
.title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0rem;
  color: white;
  text-shadow: -2px 2px 5px lightgrey;
}
.tagline {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-top: .5rem;
  color: lightslategrey;
  text-shadow: -2px 2px 5px lightgrey;
}
.divider {
  background-color: #38529856;
  height: 3px;
  border-radius: 10px;
  width: 100%;
}
.linkRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
  height: auto;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.postItemDate {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0rem;
  color: grey;
  text-shadow: -1px -1px 3px lightgrey;
}
.postItemCategory {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0rem;
  color: grey;
  text-shadow: -1px -1px 3px lightgrey;
}
.postItemRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  height: auto;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.postTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0rem;
  color: lightslategrey;
  text-shadow: -1px -1px 3px lightgrey;
}
.link {
  margin: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: #fff;
  padding-top: .3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: .3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  color: #49597a;
  text-shadow: -1px -1px 3px lightgrey;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.icon {
  margin-right: .5rem;
  font-size: 1.5rem;
  color: grey;
  text-shadow: -1px -1px 3px lightgrey;
}

.iconMain {
  margin-left: .5rem;
  font-size: 2.5rem;
  color: #091a3c;
  padding: .4rem;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 50%;
}


.link:hover {
  background-color: #49597a;
  color: #fff;
  text-shadow: -1px -1px 3px lightgrey;
  box-shadow: none;
  text-decoration: none;
}

.serviceHeader {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 2rem;

  color: #4e28cd;
  text-shadow: -1px -1px 3px lightgrey;
}
.writingHeader {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 3rem;
  margin-left: 4rem;
  color: #49597a;
  text-shadow: -1px -1px 2px lightgrey;
}

.blogHeader {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 10rem;
  margin-left: 4rem;
  color: #49597a;
  text-shadow: -1px -1px 2px lightgrey;
}

.desc {
  color: #49597a;
  width: 750px;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 0rem;
  margin: 1rem;
  margin-bottom: 7rem;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-size: 1.1rem;
}
.postItemBody {
  padding: 2rem;
  padding-top: .5rem;
}
.postItem {
  margin-bottom: 40px;
  width: auto;
  max-width: 450px;
  margin-right: 20px;
  margin-left: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.postItemThumbnail {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}
.descHeader {
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  color: #49597a;
  text-shadow: -1px -1px 3px lightgrey;
}
.linkButton {
  margin: .5rem;
  font-size: 1.25rem;
  font-weight: 300;
  background-color: #fff;
  padding-top: .3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  width: 120px;
  padding-right: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: #49597a;
  text-shadow: -1px -1px 3px lightgrey;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  min-height: 100vh;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.button {
  display: block;
  max-width: 300px;
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #49597a;
  color: #fff;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
  height: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.mainHeaderRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;
  height: 100%;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;
  width: 100%;  
}
.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: white;
  color: slategrey;
  border-bottom: lightslategrey 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem;
  margin-right: 1rem;
}
.filterButton:hover {
  color: #49597a;
  border-bottom: #374766 2px solid;
}
.activeFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  background-color: white;
  color: slategrey;
  border-bottom: lightblue 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem;
  margin-right: 1rem;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: 0rem;
}

.mainFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  color: #fff;
  border: none;
  flex-wrap: wrap;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 7rem;
}

.mainHeaderCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 4rem;
  margin-left: 5rem;
}

.mainHeaderColLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 12rem;
  margin-left: 7rem;
  margin-right: 0rem;
}

.mainPageHeader {
  background-image: url("/shacktest2.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0rem;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 1200px;
  width: 100vw;
}


.ServiceArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 60vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ServiceAreaRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ServiceAreaColLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.ServiceAreaCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  min-height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}

.footer {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 4rem 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;
  background-color: white;
  margin-top: 3rem;
}
.footerColumn {
  
  margin: 1rem;
}
.socialsIcon {
  width: 30px;
  height: 30px;
  color: #7228cd;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}
.socialsIcon:hover {
  color: white;
  cursor: pointer;
  background-color: #7228cd;
  border-radius: 5px;
}
.socialsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

@media ( max-width: 1000px) {
  .mainHeaderRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    height: 100%;
    margin-left: 0rem;
    padding-top: 15rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    width: 100%;  
  }
  .tagline {
    display: none;
  }
  .mainHeaderColLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0em;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .linkRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0rem;
    margin-left: 0rem;
    text-align: center;
    color: white;
    text-shadow: -2px 2px 5px lightgrey;
  }
  .desc {
    width: auto;
    max-width: 500px;
  }
  .writingHeader {
    margin-top: 10rem;
  }
}


@media ( max-width: 700px) {
  .linkRow {
    margin-bottom: 15rem;
  }
  .title {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 15rem;
    color: white;
    text-shadow: -2px 2px 5px lightgrey;
  }
  .filterButton {
    margin: 1rem;
  }
  .title {
    margin-left: 1rem;
  }
  .mainFilter {
    margin-top: 18rem;
  }
  .postItem {
    margin-bottom: 40px;
    width: 95%;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .articleList {
    margin-top: 55px;
    flex-direction: row;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    background-image: radial-gradient(circle at 50% 50%, #3852989f 0%, #fff 60%);
    justify-content: center;
    width: 100%;
  }
}

@media ( max-width: 420px ) {
  .title {
    margin-top: 25rem;
  } 
  .mainFilter {
    padding-top: 10rem;
  }
  .footer {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 4rem 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eaeaea;
    background-color: white;
    margin-top: 3rem;
  }
  .serviceHeader {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-left: 1rem;
    color: #4e28cd;
    text-shadow: -1px -1px 3px lightgrey;
  }
}
