
.postLayout {
  max-width: 650px;
  width: auto;
  padding: .5rem;
}
.postTitle {
  border-bottom: 2px solid rgb(164, 188, 233);
  padding-bottom: 13px;
  margin-top: 8rem;
  width: 100%;
  text-align: left;
}

.p {
  text-align: left;
  font-size: 1rem;
  width: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.readingTime {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: grey;
  width: 100%;
  margin-bottom: 1rem;
}

.ul {
  text-align: left;
  font-size: 1rem;
  width: 100%;
  margin: auto auto;
}
.li {
  text-align: left;
  font-size: 1rem;
  margin: 1rem;
}
.blockquote {
  text-align: left;
  font-size: 1rem;
  width: auto;
  margin: auto auto;
  max-width: 100%;
  border-left: 4px solid rgb(164, 233, 228);
  padding-left: 1rem;
}
.inlineCode {
  background: rgb(164, 233, 228);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  margin: 0rem 0rem; 
  display: inline-block;
  width: auto;
  height: auto;
  overflow-x: auto;
}
.pre {
  background: rgb(164, 233, 228);
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  margin: 0rem 0rem; 
  display: block;
  width: 500px;
  height: auto;
  overflow-x: auto;
}

.code {
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 0.9rem;
  margin: .7rem; 
  background-color: rgb(38, 40, 49);
  display: block;
  width: 100%;
  height: auto;
  color: white;
  overflow-x: auto;
}


.link {
  color: rgb(0, 110, 255);
}
.mainImage {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  margin: 1rem;
  margin-top: 0rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tooltipText {
  background: hsla(0, 0%, 0%, 0.75);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  max-width: 150px;
}

.tooltipBtn {
  cursor: pointer;
}



