.container {
  padding: 0 0rem;
  z-index: 100;
}

.nav {
  height: 90px;
  width: 100%;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  margin-bottom: 0px;
  z-index: 100;
  position: fixed;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}
.navLeft {
    width: 50%;
}
.navRight {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navCollapsed {
    display: none;
}
.navItem {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    font-size: 1.2rem;
    font-weight: 300;
    color: #385198;
    text-decoration: none;
    list-style-type: none;
}

@media ( max-width: 748px ) {
  
  .nav {
    justify-content: space-between;
    padding-left: 0rem;
  }
  .navRight {
      display: none;
  }
  
  .navItem {
    margin-left: .2rem;
  }
  .navCollapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
  }
}
